*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';    
  }
header {
    width: 1920px;
    height: 221px;
    flex-shrink: 0;
    background: #0043AB;
}
.header-content{
    display: flex;
    align-items: center;
} 
.header-content img{
    margin-left: 84.6px;
    margin-top: 10.3px;
    margin-right: 52.89px;
    width: 129px;
    height: 126.362px;
    flex-shrink: 0;
}
.header-content h1{
    width: 783.158px;
    height: 107.586px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 300; 
    line-height: 96.82px;
}
.navegation ul {
    list-style: none;
    padding: 0;
}

.navegation li {
    display: inline-block; 
    padding: 30px;
}
.navegation-links{
    width: 317px;
    height: 65px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    color: #FFF;
    text-decoration: none;
}
.navegation-options{
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    color: #FFF;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
a:hover{
    color:#1e2125
}
.conteiner{
    position: relative;
    width: 100%;
    max-width: 600px;
}
.conteiner img{
    padding: 0;
}
.texto-sobreposto{
    position: absolute;
    top: 8%;
    left: 50%;
    height: 328.966px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 1053.474px;
}
footer{
    height: 82.759px;
    flex-shrink: 0;
    background: #FED42B;
    width: 1920px;
}
footer ul{
    display: inline;
    padding: 0;
    text-align: center; 
}
footer ul li{
    display: inline-block;
    position: relative;
    left: 300px;
    height: 41.379px;
    flex-shrink: 0;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 349.895px;
}